{% load static %}
<nav class="navbar navbar-expand-md navbar-secondary page-padding">
    <h2><a class="navbar-brand text-dark " href="{%url 'view_books' %}"
            style="font-weight: bolder;font-family: 'Pacifico', cursive;">Library<i class="fa fa-home"></i></a></h2>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-4">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_books' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            {% if user.is_authenticated %}
            <ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
                        aria-expanded="false">{{user.username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        {% if user.is_librarian %}
                        <li>
                            <a href="{% url 'library' %}">Create Library</a>
                        </li>
                        <li>
                            <a href="{% url 'book' %}">Add Books</a>
                        </li>
                        <li>
                            <a href="{% url 'view_books' %}">View Books</a>
                        </li>
                        <li>
                            <a href="{% url 'borrowed' %}">Borrowed books</a>
                        </li>
                        <li>
                            <a href="#">Returned Books</a>
                        </li>
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'view_books' %}">View Books</a>
                        </li>
                        <li>
                            <a href="{% url 'borrow' %}">Borrow</a>
                        </li>
                        <li>
                            <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
            </ul>
            {% else %}
            <li>
                <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>
            <li>
                <a class='btn btn-default' href="/accounts/signup">Sign up</a>
            </li>

            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" id="search-form" action="{% url 'search' %}" role="search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="book" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>